@media screen and (max-width: 1120px) {
    
    /* starts here  */
    /* ends here  */
    
    /* header section starts here  */
    
    .header-list h1{
        font-size: 25px;
        padding-bottom: 15px;
    }
    .header-list h2{
        display: none;
    }
    .mobile-h2{
        display: flex;
        /* border: 2px solid yellow; */
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 20px 0 25px 0;
        font-weight: 100;
    }
    .header-buttons button{
        width: 160px;
        font-size: 17px;
    }
   
    /* header section ends here  */
    
    /* pricing-box section starts here  */
    
    .pricing-box{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        margin-top: 15px;
    }
    .pricing-box__container{
        flex-direction: column;
        padding: 40px 0 25px 0;
    }
    .price-box__container-items{
        border: 2px solid transparent;
    }
    
    /* pricing-box section ends here  */
    
    }